.newNumber{
    position: absolute;
    color: rgb(217, 79, 245);
    top: 3%; 
    text-align: center;  
    padding: 25px ;
    box-shadow: -1px 1px 50px 10px rgb(0, 0, 0); 
    border-radius: 10px 0px 20px 0px;
    opacity: 85%;
    background-color: black;
    height: auto;
  
}